- if admin_signed_in?
  %a.act{href: destroy_admin_session_path, 'data-method' => 'delete'} 
    %i.iconic-key-stroke
    Logout
- else
  %a.act{href: new_admin_session_path} 
    %i.iconic-key-stroke
    Administración