<div class="well sidebar-nav">
  <%= content_tag :h1, (link_to 'Productos', products_path, :class => 'btn btn-block') %>
  <ul class="nav nav-tabs nav-stacked">
    <li class="nav-header">Offset</li>
    <li><a>Folletos</a></li>
    <li><a>Tarjetas Personales</a></li>
    <li><a>Imanes</a></li>    
    <li class="nav-header">Digital</li>
    <li><a>Gigantografías</a></li>
    <li><a>Banners</a></li>
    <li><a>Tarjetas Personales</a></li>
  </ul>
  
  <%= content_tag :h1, (link_to 'Contacto', products_path, :class => 'btn btn-block') %>
  <ul class="nav nav-tabs nav-stacked">
    <li><a>Presupuestos a medida</a></li>
    <li><a>Servicio de corrección de originales</a></li>
    <li><a>Solicite muestras a domicilio</a></li>    
  </ul>
</div>