%h1 Bienvenido a OGApg
%p Producciones gráficas

.row-fluid
  .span4.well.fill-heigth
    %h3.center Presupuestos a medida
    %p Ne de invenero invenire nequidem putandum ei vi. Ex judicare machinam emergere ut eo remanere de subducat. Diutius to securum etiamsi istarum ea an. Scripto assideo si de habetur percipi. In et idem is quin quae unum gi. De esse mihi in ante sunt. Effecerunt ha aliquoties producatur ne. Minus etc non rei opera timeo imo sanae.
    .center.overlined= link_to 'Ver mas', '?=budgets', class: 'act'

  .span4.well.fill-heigth
    %h3.center Corrección de originales
    %p Fit maxima ventus mox ferias cum dum fallit verbum. Hodie im se esset entis et sonum omnia neque. Is admisi vitari ut et se dignum. Age numeranda tes seu tractatur interitum nam. Nomen viris sex his libet suo aures dem foret motus. Superest perspexi efficere infinite obturabo meo sui perfecta tur. Ac ab suas apud ut data visa quid odor. Dormire ad humanum ad apparet.
    .center.overlined= link_to 'Ver mas', '?=corrections', class: 'act'

  .span4.well.fill-heigth
    %h3.center Solicite muestras a domicilio
    %p Quadratam usurpabam colligere rem seu conformes magnitudo. Gi quodcumque majestatis at affirmarem mo. Percipiat pergamque infinitae ea co ad. Aliquanto deciperer si supersunt praefatio naturales in ut. Has colore creari auditu rom vocant cum mea caelum. At ac fallat primae decipi et. Quin foco igni homo ista ero hinc suo duo. Suae id de et unde quod eo ipso bere.
    .center.overlined= link_to 'Ver mas', '?=samples', class: 'act'