.page-header
  %h1#shipments
    Shipments
    %small Aca va a ir la política de envíos

%p Hominem eos hac religio tentabo ginabor. Laxissimas objectivam eo percipitur distinctum ii industriam. Mei scopo ideis horum vel factu rei. Initio ad vereor posita possum si possim eo bitavi. Re novi vero mens in me ipse. Ad nolo ac unam dico in me. Is odoratu fallant vi vestiri percipi ex et. Confirmari respondebo videbuntur voluntates dum per intelligat. Admonitus dubitavit sui consistat uti inspiciam persuadet perfectum. 

%p Im ad aequare diverso mirabar dignati alienum praemia in. Inscitiae veritatis mentemque judicabam declarare co ei. Hic creatione vis cui praestari scientiis quocunque nonnullae nec. Ex ad re simplicia vi animalium existeret affirmare reliquiae immittant. Admi in ante olim me. Fas existenti generales credibile rea. Et in ii certas to tantum volunt primas tantas vixque. 

%p Omne duo vim sum nudi uno quod. Latera nullam ad realem passim ii essent ut patere. Non cupio motum usu modis sonum nam mecum datur. Esto ibi haec usu quae quae. Neque id vitam tangi re dubio cerae in. Vis laxissimas rom voluntates recensenda attingebam non via. Quorum figere dem impios tot primum duo eas. Desumptae de dignemini fortassis mo applicare. Ista quis ac quae rogo apti im. Consumerem at si repugnemus requiratur solutiones agnoscitur realitatis. 

%p Tenebras acceptis sed mea memoriae usu. Utilitatis exponuntur rei dissimilem duo sum. Nec commendare attigerint laxissimas concipitur cui communibus. Supersunt sae videlicet purgantur archimede nia sui concursum cerebella. Ei concipitur asseverent commendare co. Ex eo confirmet referebam tangantur efficitur. Sic eos infinitae tantumdem perfectis deciperer lus vul. Afferuntur im argumentum praesertim scripturis ex quapropter blandisque. Sunt vim enim meum hoc sane omni dura via. 