/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require bootstrap-responsive
 */

footer {
  margin-top: 30px ;
  padding: 10px ;
}

.underlined {
  border-bottom: 1px solid #E5E5E5 ;
}

.overlined {
  border-top: 1px solid #E5E5E5 ;
}

.spaced {
  padding-bottom: 10px ;
  margin-bottom: 20px ;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.shadow {
  -moz-box-shadow: 0 0 5px 5px #888;
  -webkit-box-shadow: 0 0 5px 5px#888;
  box-shadow: 0 0 10px 10px #888;
}