/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require bootstrap-responsive
 *= require_self
 */

.fill-heigth {
  height: 100%;
}

.vertical-divider {
  width: 0px;
  height: 100%;
  border-left: 1px solid #E5E5E5;
}

.block {
  width: 250px;
}

.squeeze {
  margin-right: 10% ; 
  margin-left: 10% ;
}

.underlined {
  border-bottom: 1px solid #E5E5E5;
  padding-bottom: 5px;
}

.overlined {
  border-top: 1px solid #E5E5E5;
  padding-top: 5px;
}

.square {
  border: 1px solid #E5E5E5;
}

.spaced {
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.shadow {
  -moz-box-shadow: 15 15 5px 5px #888;
  -webkit-box-shadow: 0 0 5px 5px#888;
  box-shadow: 0 0 10px 10px #888;
}

.navbar-inner {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.navbar-inner .container {
  margin-left: 15%; 
  margin-right: 15%;
}

.navbar a {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

.navbar-inner a {
  padding-top: 50px;
}

html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -100px;
}

.footer, .push {
  height: 79px;
}

.chunk {
  height: 30px;
}

.footer {
  padding-top: 20px;
  padding-right: 10%;
  padding-left: 10%; 

  border-top: 1px solid #E5E5E5;
  background-color: whitesmoke;
}